{% extends "base.html" %}

{% block content %}
	<section class="header-section">
  <h1>Hexify-Oxide</h1>
  <p>Name: {{name}}</p>
	</section>
	<section class="main-section">
		<section>
			<form id="hex-form">
				<input placeholder="dec number..." required-type=text name="dec_value">
				<button hx-post="html/hexify" hx-trigger="click" hx-ext="json-enc" hx-swap="outerHTML" hx-target="#hex-result">Translate</button>
			</form>
			<p id="hex-result"></p>
		</section>
		<section>
			<form id="dec-form">
				<input placeholder="hex number..." required-type=text name="hex_value">
				<button hx-post="html/decify" hx-trigger="click" hx-ext="json-enc" hx-swap="outerHTML" hx-target="#dec-result">Translate</button>
			</form>
			<p id="dec-result"></p>
		</section>
	</section>
{% endblock %}